<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserHistory</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!--navbar-->
    <%- include('partials/navbar', {page: '/userHistory' }) %>


    <!--container-->
    <div class="container mx-auto">

      <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold"><%= session.user.userName %></h1>
            <p class="py-6">User History: <%= session.user.email %></p>
          </div>
        </div>
      </div>

      <!--table-->

      <div class="overflow-x-auto">
        <table class="table table-zebra">
          <!-- head -->
          <thead>
            <tr>
              <th>Login Date/Time</th>
              <th>Client Information</th>
            </tr>
          </thead>
          <tbody>

            <% session.user.loginHistory.forEach(history=>{ %>
            <!-- row 1 -->
            <tr>
              <td><%= history.dateTime %></td>
              <td><%= history.userAgent %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!--table-->
    </div>
    </div>  
  </body>
</html>
